body{
  background-color: lightblue;
}

h2{
  color:orange;
  text-align:center;
  background-color:blue;
  border:5px black dashed;
  font-size: 67px;
}



ul {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: salmon;
  top: 0;
  margin: 0;
  left: 0;
  
}

li a {
  display: block;
  float: left;
  padding: 10px 100px;
  color: white;
}

li a: hover {
  background-color: yellow;
    color: black;
}
